*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.main_box{
    background: url("photo.jpg");
    height: 100vh;
}
.btn_one{
    position: fixed;
    top: 20px;
    left:20px;
    height: 1000px;
    width: 1000px;
    bottom: auto;
}   
.btn_one i {
    color: white;
    font-size: 30px;
    font-family: 700;
    position: absolute;
    left: px;
    line-height: 75PX;
    cursor: pointer;
    transition: all 0.3s linear;
    
}

.sidebar_menu {
    padding: fixed;   
     left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.side_menu .logo{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: rgba(red, green, blue, alpha);
    box-sizing:  0 0 6px rgba(255, 255, 255, 0.3);
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;shadow: 0px 2px rgba(255, 255, 255, 0.5);
    line-height: 60px;
    height: 60px;

}


.sideber_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight:500 ;

}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top : 80px;
}

.sidebar_menu .btn_two i {
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 50px;
    opacity: 0;
    cursor: pointer;
    
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 10px 20px;
}

.sidebar_menu .menu i,
a {
    color: white;
    text-decoration: none;
    font-size: 20px;

}

.side_menu .menu i{
    padding-right:8px ;

}

.sidebar_menu .social_media {
    color: white;
    position: absolute;
    left: 1%;
    bottom: 20px;
    
}

.sidebar_menu .social_media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}
#check {
    display: ruby;
}


.btu_one i:hover {
    font-size: 40px;
}

.btn_two i:hover {
    font-size: 30px;

}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one i{
    opacity: 0;
    
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}

.logo{
    text-align:center ;
    display: flex;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 50px;
    left: 60px;
}


.btn_two{
    position: fixed;
    top: 20px;
    left: 210px;
    padding: 20px;
}



